/* Main page & Age verification */
.screen {
    background: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url(https://res.cloudinary.com/ddgxxa2hy/image/upload/v1660254362/My_project-1_2_50_i0mcfy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3%;
}


.intro{
    text-decoration: underline  rgb(255, 119, 0);
    margin-top: 20%;
    font-family: Architects Daughter, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 250%;
}

.intro2{
    margin-top: 2%;
    font-family: Architects Daughter, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 150%;
}

.btn-secondary {
    color: azure;
    background-color: rgb(255, 119, 0);
    text-decoration: none;
    display: inline-block;
}

.btn-primary{
    margin-left: 1%;
    margin-top: 2%;
    color: black;
    background-color: white;
    border-color:  black;

}

.btn-primary:hover {
    background-color: white;
    border-color:  rgb(255, 119, 0);
}

.check{
    color: green;
    text-decoration: none;
    
}

.uncheck{
    color: red;
    text-decoration: none;
}


.check:hover{
    background-color: white;
    color: rgba(30, 29, 29, 0.93); 
    
}

.uncheck:hover {
    background-color: white;
    color:  rgba(30, 29, 29, 0.93);   
}

/* Nav bar */

#navbarNav
{
    height: 10%;
    width: 70%;
    background-color: rgb(248,249,250);
    position: relative;
    z-index: 100;
} 

.navbar-light {
    background-color: rgb(250, 250, 250);
    height: 140px;
    box-shadow: 0px 2px 5px rgb(60, 61, 61);
}

.navbar-nav{
    font-family: Itim, sans-serif;
    font-size: 150%;
    color: rgb(60, 61, 61);
}

a.nav-link.active{
    color: rgb(255, 119, 0);
    background-color:rgb(128, 128, 128);
}


.nav-link:hover {
    background-color: rgb(255, 169, 41);
    cursor: pointer;
}

a.navbar-nav.active {
    color: rgb(81, 81, 81);
}

/* Hero image */
.bg-image {
    width: 100%;
    height: 55vh;
    background:linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(https://res.cloudinary.com/ddgxxa2hy/image/upload/v1661891620/walter-lee-olivares-de-la-cruz-cUFli52JBoo-unsplash_a3scpj.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

.hero-overlay {
    align-content: center;
} 

.hero-text {
    margin-top: 10px;
    font-family: Architects Daughter, sans-serif;
}

.hero-text h1 {
    color: white;
    text-align: center;
}


/* main intro on home page */

body{
    background-color: rgb(250, 250, 250);
}
.popular{
    font-family: Itim, sans-serif;
    font-size: 180%; 
}

.recipe-link {
    font-family: Itim, sans-serif;
    text-decoration: none;
    color: rgb(255, 119, 0); 
}

.recipe-link:hover{
    color: rgb(119, 119, 119);
}


.join-us {
    color:  rgb(104, 103, 103);
    text-align: center;
    font-family: Itim, sans-serif;
    font-size: 150%;
    margin-bottom: 5%;
}

.join-us btn {
    text-align: center;
    
}

.alert {
    background-color: rgb(255, 169, 41);
    color: rgb(71, 71, 71);
    font-size: 110%;
    font-family:Itim, sans-serif;
}

/* decline page */
.age {
    margin-top: 20%;
    font-family: Architects Daughter, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 250%;
}

.return {
    text-decoration: none;
    color: black;
}

.btn-light {
    margin-top: 2%;
    color: black;
    background-color: white;
    border-color:  black;
}


/* footer */
footer {
    background-color: rgb(250, 250, 250);
    height: 10%;
    box-shadow: 0px 2px 5px rgb(60, 61, 61);
}

.m-0, .mx-1 {
    background-color: rgb(255, 255, 255);
    color:rgb(119, 119, 119);
}

.fun {
    background-color: rgb(255, 255, 255);
    color:rgb(68, 66, 66);
    font-size: 120%;
}

.about-text {
font-family: itim, sans-serif; 
font-size: 110%;
margin-top: 2%;
margin-bottom: 1%;

}

/* Icons */
.icon {
color: rgb(84, 84, 84);
}


/* recipe cards */

.recipe-name {
    font-family: Architects Daughter, sans-serif;
    text-align: center;
    color: rgb(60, 61, 61);
    text-decoration: none;
}

.home-cd {
    padding: 5px;
    border: 5px;
}

.card-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0;
    
}

.card-text {
    font-family: Architects Daughter, sans-serif; 
    text-align: center
    rgb(60, 61, 61);
}

.recipe-info {
    background-color: rgb(255, 169, 41);
    margin-bottom: 15px; 
    font-family: Architects Daughter, sans-serif; 
    text-align: center
}


.recipe-title {
    text-align: center;
    font-family: Architects Daughter, sans-serif;
    color: rgb(60, 61, 61);
    text-decoration: none;
}

.card-title {
    font-family: Architects Daughter, sans-serif;
    text-align: center;
    color: rgb(60, 61, 61); 
}


.card-footer {
    font-family: Architects Daughter, sans-serif; 
}

.image-container {
    position: relative; 
}

.recipe-type {
    background-color: rgb(255, 169, 41);
    font-family: Architects Daughter, sans-serif; 
    color: rgb(60, 61, 61);
    font-size: 100%;
}

/* recipe list */
.recipes {
    font-family: Architects Daughter, sans-serif; 
    font-size: 400%;
    color: rgb(60, 61, 61);

}

.ingred, .steps, .about{
    font-family: Architects Daughter, sans-serif; 
    text-decoration:underline rgb(255, 169, 41);
    color: rgb(60, 61, 61);
    
}

.comments {
    margin-bottom: 1%;
    font-family: Architects Daughter, sans-serif; 
    color: rgb(60, 61, 61);
    font-family: Itim, sans-serif; 
}

.title {
    margin-top: 2%;
    text-decoration:underline rgb(255, 169, 41);;
}

.select:hover {
    background-color: rgb(255, 169, 41);
}



.col-md-3 {
    margin-bottom: 3%;
}

.like-intro {
    margin-top: 2%;
    font-family: Itim, sans-serif;
    color: rgb(60, 61, 61);
}

.edit, .delete {
    font-family: Itim, sans-serif;
    color: rgb(60, 61, 61);
    font-size: 120%;
}

.edit:hover {
    color: rgb(255, 153, 0);
}
.delete:hover {
    color: red;
}


/* my cocktails */

.add {
    margin-top: 2%;
}


.recipe-image-banner {
    min-width: 30%;
    background-color: white;
}

.btn-cheers {
    border: none;
    background-color: white;
}

.image-container {
    position: relative;
}

.recipe-detail, .comments {
    margin-left: 8%;
    font-family: Architects Daughter, sans-serif; 
    color: rgb(60, 61, 61);
}

.comment-title {
    text-decoration: underline rgb(255, 169, 41);
    font-family: Architects Daughter, sans-serif; ;
}

.form-control{
   width: 40vw;
}

.col-11 {
    margin-bottom: 3%;
}

/* Edit form */
.back {
    margin-top: 5%;
}

.cocktail-form {
    width: 50%;
    margin: auto;
}

form {
    width: 30%;
}

td {
    
    color: rgb(60, 61, 61);
}

tr {
    margin-top: 2%;
    color: rgb(60, 61, 61);
}

.view, .edit, .delete {
    text-decoration: none;
    color:  rgb(60, 61, 61);
}

.btn-warning, .btn-dark, .btn-info {
    color: rgb(60, 61, 61);
    background-color: white;
    border-color: black;
}

.btn-warning:hover{
    color: white;
    background-color: rgb(255, 240, 73);
}

.btn-dark:hover{
    color: white;
    background-color: rgb(246, 50, 50);
}

.btn-info:hover{
    color: white;
    background-color: rgb(101, 175, 4);
}