/* Main page & Age verification */
.screen {
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url(https://res.cloudinary.com/ddgxxa2hy/image/upload/v1660254362/My_project-1_2_50_i0mcfy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3%;
}

.text-center {
    color: white;

}


.prelogin {
    margin-top: 5%;
    color: white;
}

.prelogin :hover {
    color: rgb(255, 119, 0);
}

#date {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-family: Special Elite, sans-serif;
    font-size: 250%;
    text-transform: uppercase;
}

.intro {
    margin-top: 30%;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 200%;
}

.intro1 {
    margin-top: 30%;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 300%;
}

.intro2 {
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 150%;
}

.decline {
    color: rgb(12, 12, 12);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.btn-secondary {
    color: azure;
    background-color: rgb(255, 119, 0);
    text-decoration: none;
    display: inline;
}


#navbarNav
{
    height: 10%;
    width: 70%;
    background-color: rgb(248,249,250);
    position: relative;
} 

.navbar-light {
    height: 140px;
    box-shadow: 0px 2px 5px rgb(60, 61, 61);
}

.nav-item {
    font-family: Itim, sans-serif;
    font-size: 150%;
    color: rgb(60, 61, 61);
}

a:hover {
    background-color: rgb(255, 169, 41);
    cursor: pointer;
}

a.nav-link.active {
    color: rgb(255, 169, 41);
    background-color: rgb(124, 124, 124);
}

a.page-link {
    color: rgb(255, 169, 41);
}

.navbar-nav a:active {
    background-color: rgb(119, 119, 119);
}

/* Hero image */
.hero-image {
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.403), rgba(0, 0, 0, 0.403)), url(https://res.cloudinary.com/ddgxxa2hy/image/upload/v1660254362/My_project-1_2_50_i0mcfy.jpg);
    background-size: cover;

    margin: 0;
}

.hero-overlay {
    align-content: center;
}

.hero-text {
    margin-top: 10px;
}

.hero-text h1 {
    color: white;
    text-align: center;
    font-family: Special Elite, sans-serif;
}
.heading {
    color: white;
    text-align: center;
    font-family: Architects Daughter, sans-serif;
    font-size: 150%;
}
.hero-text p {
    color: white;
    text-align: center;

}

.hero-text btn {
    text-align: center;
}

/* main intro on home page */

.popular{
    font-family: Itim, sans-serif;
    font-size: 180%; 
}

.instructions {
    font-family: Itim, sans-serif;
    font-size: 120%; 
}

/* recipe cards */

.card-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.recipe-info {
    background-color: rgb(255, 169, 41);
    margin-bottom: 15px; 
    font-family: Itim, sans-serif;
    text-align: center
}

.recipe-title {
    font-family: Architects Daughter, sans-serif;
    text-align: center
}

.card-footer {
    font-family: Architects Daughter, sans-serif; 
}