/* Main page & Age verification */
.screen {
    background: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url(https://res.cloudinary.com/ddgxxa2hy/image/upload/v1660254362/My_project-1_2_50_i0mcfy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3%;
}


.intro{
    margin-top: 30%;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 250%;
}

.intro2{
    margin-top: 5%;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 200%;
}

.btn-secondary, #return{
    color: azure;
    background-color: rgb(255, 119, 0);
    text-decoration: none;
    display: inline-block;
}
    


.yes {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.93);  
}

.no {
    text-decoration: none;
    color: rgba(6, 6, 6, 0.93);  
}

.yes:hover{
    color: rgba(255, 255, 255, 0.93); 
    
}

.no:hover {
    color:  rgba(6, 6, 6, 0.93);   
}

/* Nav bar */

#navbarNav
{
    height: 10%;
    width: 70%;
    background-color: rgb(248,249,250);
    position: relative;
    z-index: 100;
} 

.navbar-light {
    height: 140px;
    box-shadow: 0px 2px 5px rgb(60, 61, 61);
}

.navbar-nav{
    font-family: Itim, sans-serif;
    font-size: 150%;
    color: rgb(60, 61, 61);
}

.nav-link:active{
    color: rgb(255, 119, 0);
    background-color:rgb(60, 61, 61);
}


.nav-link:hover {
    background-color: rgb(255, 169, 41);
    cursor: pointer;
}

.navbar-nav a:active {
    color: rgb(81, 81, 81);
}

/* Hero image */
.bg-image {
    width: 100%;
    height: 55vh;
    background:linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.205)), url(https://res.cloudinary.com/ddgxxa2hy/image/upload/v1660771069/My_project-1_3_1_ty3fwa.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

.hero-overlay {
    align-content: center;
} 


/* main intro on home page */

.popular{
    font-family: Itim, sans-serif;
    font-size: 180%; 
}

.recipe-link, .nav-tab {
    font-family: Itim, sans-serif;
    text-decoration: none;
    color: rgb(255, 119, 0); 
}

.recipe-link:hover{
    color: rgb(119, 119, 119);
}

.nav-tab:hover{
    color: rgb(119, 119, 119);
}

.join-us {
    color:  rgb(104, 103, 103);
    text-align: center;
    font-family: Itim, sans-serif;
    font-size: 150%;
    margin-bottom: 5%;
}

.join-us btn {
    text-align: center;
    
}

.alert {
    background-color: rgb(255, 169, 41);
    color: rgb(71, 71, 71);
    font-size: 110%;
    font-family:Itim, sans-serif;
}


/* footer */
footer {
    height: 10%;
    box-shadow: 0px 2px 5px rgb(60, 61, 61);
}

.m-0, .mx-1 {
    background-color: rgb(255, 255, 255);
    color:rgb(119, 119, 119);
}

.fun {
    background-color: rgb(255, 255, 255);
    color:rgb(68, 66, 66);
    font-size: 120%;
}

.about-text {
font-family: itim, sans-serif; 
font-size: 110%;
margin-top: 2%;
margin-bottom: 1%;

}

/* Icons */
i {
color: rgb(84, 84, 84);
}


/* recipe cards */

.recipe-name {
    font-family: Architects Daughter, sans-serif;
    text-align: center;
    color: rgb(60, 61, 61);
    text-decoration: none;
}

.home-cd {
    padding: 5px;
    border: 5px;
}

.card-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    background-position: center;
    margin: 0;
    
}

.card-text {
    font-family: Itim, sans-serif;
    text-align: center
    rgb(60, 61, 61);
}

.recipe-info {
    background-color: rgb(255, 169, 41);
    margin-bottom: 15px; 
    font-family: Itim, sans-serif;
    text-align: center
}


.recipe-title {
    font-family: Architects Daughter, sans-serif;
    text-align: center;
    color: rgb(60, 61, 61);
    text-decoration: none;
}


.card-footer {
    font-family: Architects Daughter, sans-serif; 
}

.image-container {
    position: relative; 
}

.recipe-type {
    background-color: rgb(255, 169, 41);
    font-family: Itim, sans-serif;
    color: rgb(60, 61, 61);
    font-size: 100%;
}

/* recipe list */
.recipes {
    font-family: Itim, sans-serif;
    font-size: 400%;
    color: rgb(60, 61, 61);

}

.col-md-3 {
    margin-bottom: 3%;
}

.empty {
    margin-top: 5%;
    font-family: Itim, sans-serif;
    font-size: 200%;
    color: rgb(60, 61, 61);
}

.empty2 {
    margin-bottom: 2%;
    font-family: Itim, sans-serif;
    font-size: 200%;
    color: rgb(60, 61, 61);
}

.like-intro {
    margin-top: 2%;
    font-family: Itim, sans-serif;
    color: rgb(60, 61, 61);
}

/* my cocktails */

.add {
    margin-top: 2%;
}

.recipe-image-banner {
    min-width: 30%;
    background-color: white;
}

.btn-cheers {
    border: none;
    background-color: white;
}

.image-container {
    position: relative;
}

.recipe-detail, .comments {
    font-family: Itim, sans-serif;
    color: rgb(60, 61, 61);
}

.col-11 {
    margin-bottom: 3%;
}

/* Edit form */
.back {
    margin-top: 5%;
}

.cocktail-form {
    width: 50%;
    margin: auto;
}

form {
    width: 30%;
}

