.screen {
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url('https://res.cloudinary.com/ddgxxa2hy/image/upload/v1659551793/My_project-1_2_w23mi3.jpg');
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}



.form-control {
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.303);
    border-style: groove;
    border-color: black;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255) ;
    font-size: 180%;
    position: center;

}

.intro {
    margin-top: 30%;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 200%;
}

.intro2 {
    margin-top: 10%;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255);
    position: center;
    font-size: 200%;
}

.btn-lg {
    color: white;
    background-color: rgb(255, 119, 0);
    position: center;
    margin: 0;
    margin-left: 44%;
    margin-right: 45%;
    margin-top: 3%;
}


.small {
    font-family: sans-serif;
    color: white;
}

.logo {
    margin-top: 0;
    width: 200px;
    height: 150px;
}

.hero-image {
    width: 80vw;
    height: 80vh;
    background: url('https://res.cloudinary.com/ddgxxa2hy/image/upload/v1659551793/My_project-1_2_w23mi3.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
}

