body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/ddgxxa2hy/image/upload/v1659551793/My_project-1_2_w23mi3.jpg');
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 50%;
    width: 15%;
    repeat: no-repeat;
    position: center;
    margin: 0;
    margin-left: 44%;
    margin-right: 45%;
    margin-top: 3%;

}

.form-control {
    background: rgba(255, 252, 252, 0.362);
    border-style: groove;
    border-color: black;
    font-family: Special Elite, sans-serif;
    color: rgb(255, 255, 255) ;
    font-size: 180%;
    position: center;

}

.intro {
    font-family: Special Elite, sans-serif;
    color: white;
    position: center;
    margin: 0;
    font-size: 200%;
}

.btn-lg {
    color: white;
    background-color: rgb(255, 119, 0);
    position: center;
    margin: 0;
    margin-left: 44%;
    margin-right: 45%;
    margin-top: 3%;
}

.small {
    font-family: sans-serif;
    color: white;
}