{% extends "base.html" %}
{% load static %}
{% block content %}


<header>

    <div class="container-fluid bg-image ">
        <div class="row hero-overlay hero-image img-fluid">
            <div class="col-12 hero-text text-center">
                <h1> Welcome to The Tipsy Tiger Cocktail Guide</h1>

            </div>
        </div>
    </div>

</header>

<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-12">
            <h2 class="popular"><strong> Most popular cocktails<i class="fas fa-cocktail"></i></strong> <br>
                Head to <a class="recipe-link" href="{% url 'recipes' %}"> Cocktails</a> view more delicious recipes.
            </h2>
        </div>
    </div>

    <!-- Recipe Entries Column -->
    <div class="album py-5 bg-light">
        <div class="row">
            <!-- Recipe Snapshot Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for recipe in recipe_list %}
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if 'placeholder' in recipe.recipe_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/ddgxxa2hy/image/upload/v1661630412/yh7v8u7ajreg2fn3xcmu.png"
                                        alt="orange cocktail in small glass">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ recipe.recipe_image.url }} "
                                        alt="{{ recipe.title }}">
                                    {% endif %}
                                    <div>
                                        <p class="recipe-type text-center"> {{ recipe.skill }} / {{ recipe.base}}</p>
                                        <h3 class="recipe-title home-cd"> {{ recipe.title }}</h3>
                                        <p class="recipe-footer card-footer">added by {{ recipe.author }} on
                                            {{ recipe.created_on}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                <!--</div>-->
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid join-us">
        <div class="row col-lg-8 col-md-10 mx-auto">
            <h1>Join Us!</h1>
            <p class="heading">You can't buy happiness, but you can prepare a cocktail...</p>
            <p class="heading">Choose from our range of tried, tested & loved cocktails</p>
            <p class="heading">Even add you own personal favourites</p>
            {% if user.is_authenticated %}
            <p><a href="{% url 'account_signup' %}" class="btn btn-lg btn-secondary">Register</a></p>
            {% else %}
            <p><a href="{% url 'account_signup' %}" class="btn btn-lg btn-secondary">Register</a></p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}