{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
    <div class="container-fluid hero-container ">
        <div class="row hero-overlay hero-image img-fluid">
            <div class="col-12 hero-text">
                <h1>The Tipsy Tiger Cocktail Guide</h1>
                <p>There's always time for a cocktail</p>
                <p>Let our recipes guide you & don't forget to add you own.</p>
            </div>
            <div></div>
        </div>
    </div>
</header>

{% endblock %}