{% load static %}

<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Tipsy Tiger Cocktail Guide</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
    <div class="container-fluid hero-container ">
        <div class="row hero-overlay hero-image img-fluid">
            <div class="col-12 hero-text">
                <div class="container-fluid">

                    <div class="col-lg-8 col-md-10 mx-auto">
                        <img src="https://res.cloudinary.com/ddgxxa2hy/image/upload/v1659551788/My_project-1_9_vnwqxh.png"
                            class="logo" alt="">
                        <div class="text-center">
                            <h1 class="intro">You must be Over 18, Please enter your Date of Birth</h1>
                        </div>

                        <form method="Post">
                            {% csrf_token %}

                            <div class="form-group col-lg-8 col-md-10 mx-auto">
                                <label for="date of birth"></label>
                                <input type="date" class="form-control" id="" placeholder="Enter date of birth" name="">
                            </div>
                            <button type="submit" class="btn-lg">Enter</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="#">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>


</body>

</html>