{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col text-center">
            {% if request.user.is_authenticated %}
            <h3>{{ request.user | title }}'s Recipes</h3>
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-9 col-md-offset-2">

            <table class="table">
                <tr>
                    <th>Cocktails</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for recipe in recipe %}
                <tr>
                    <td>{{ recipe.title }}</td>

                    <td><button type="button" class="btn btn-sm btn-info"><a class="view"
                                href="{% url 'recipe_detail' recipe.slug %}">
                                View cocktail</a></button></td>
                    <td><button type="button" class="btn btn-sm btn-warning"><a class="edit"
                                href="{% url 'recipeedit' recipe.slug %}">
                                Edit Cocktail</a></button></td>
                    <td><button type="button" class="btn btn-sm btn-dark"><a class="delete"
                                href="{% url 'recipedelete' recipe.slug %}">
                                Delete Cocktail</a></button></td>
                </tr>
            </table>
            {% empty %}
            <h3> You haven't added any cocktails yet!</h3>
            {% endfor %}


        </div>

    </div>

    <div class="row">
        <div class="col text-center add">
            <a class="btn btn-md btn-secondary " href="{% url 'recipecreate' %}">Add your cocktail</a>
        </div>
    </div>
</div>

{% endblock %}