{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <section>
        <!--Recipe title-->
        <div class="row">
            <div class=" col recipe-title">
                <h1>{{ recipe.title }}</h1>
            </div>
        </div>

        <!--Image for recipe-->
        <div class="row">
            <div class="col-sm-6 image-container card recipe-detail-image">
                {% if "placeholder" in recipe.recipe_image.url %}
                <img class="card-image-top"
                    src="https://res.cloudinary.com/ddgxxa2hy/image/upload/v1660314988/andrea-riezzo-1hKZ0A182Bk-unsplash_a2gicj.jpg"
                    alt="orange cocktail in small glass">
                {% else %}
                <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.title }}">

                {% endif %}

                <p class="recipe-image info"> Recipe added by {{ user.username}} submitted on: {{ recipe.created_on }}
                </p>
            </div>

            <div class="row">
                <div class="col-12 card">
                    <div class="card-body">
                        <h2 class="card-title"> About this cocktail</h2>
                        <p class="recipe-info card-text">
                            {{ recipe.about |safe }}
                        </p>
                        <p class="info"> Recipe last updated on: {{ recipe.updated_on }}</p>
                    </div>
                </div>
            </div>

            <!--recipe icons-->
            <div class="col-sm-6 card recipe">
                <div class="row">

                    <!--recipe cheers(likes)-->
                    <div class="col card-body liked-icon">
                        {% if user.is_authenticated %}
                        <form class="d-line" action="{% url 'recipe_cheers' recipe.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}

                            <button class="btn-cheers" type="submit" name="recipe_id" value="{{recipe.slug}}">
                                <i class="fas fa-glass-cheers"></i></button>
                            {% else %}

                            <button class="btn-cheers" type="submit" name="recipe_id" value="{{recipe.slug}}">
                                <i class="fas fa-glass-cheers"></i></button>

                            {% endif %}
                        </form>

                        % else %
                        <i class="fas fa-glass-cheers" aria-hidden="true"></i>
                        {% endif %}
                        <p>{{ recipe.number_of_cheers }} Cheers</p>
                    </div>
                </div>

                <!--Comment count-->
                <div class="col-1">
                    {% with comments.count as total_comments %}
                    <i class="fas fa-comment"></i>
                    <p>{{ total_reviews }} Comments</p>
                    {% endwith %}

                    <!--Recipe card icons-->
                    <div class="card-icons">
                        <ul>
                            <!--No of servings-->
                            <li>
                                <i class="fas fa-glass-whiskey-rocks"></i>
                                <p>{{ recipe.servings }} serves</p>
                            </li>
                            <!--Skill level-->
                            <li>
                                <i class="fa-solid fa-layer-group"></i>
                                <p>{{ recipe.skill }} Skill level</p>
                            </li>
                            <!--Recipe alcohol base-->
                            <li>
                                <i class="fa-solid fa-wine-bottle"></i>
                                <p>{{ recipe.base }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>

    <section>
        <div class="row">
            <div class="col-12 md-6 card-ingrediants">
                <div class="card-body">
                    <h2 class="card-title">Ingrediants</h2>

                </div>

            </div>
        </div>
    </section>


    {% endblock %}