{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container fluid">
    <div class="row">
        <div class="col text-center recipes">
            <h1>Cocktail Recipes</h1>
            
        </div>
    </div>
    <!--Cocktail recipe filter-->
    <div class="row text-center">
        <form method="GET" class="recipe-filter">
            <p>Filter by</p>
            {{ RecipeFilter.form }}
            {% csrf_token %}
            <button class="btn btn-sm btn-secondary" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
<div class="row text-center like-intro">
    <h5>Why don't you give your favourite cocktails a cheers <i class="fas fa-glass-cheers"></i> The Tipsy Tiger version of a like.</h5>
    <h5>Or leave us a <i class="fas fa-comment"></i> comment let us know your thoughts.</h5>



</div>
<!--Recipe columns-->
<div class="row">
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for recipe in recipe_list %}

            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if 'placeholder' in recipe.recipe_image.url %}
                            <img src="https://res.cloudinary.com/ddgxxa2hy/image/upload/v1661630412/yh7v8u7ajreg2fn3xcmu.png"
                                alt="orange cocktail in small glass">
                            {% else %}
                            <img class="card-image" src=" {{ recipe.recipe_image.url }}" alt="{{ recipe.title }}">
                            {% endif %}
                            <div class="card-info">
                                <p class="recipe-info"> {{ recipe.skill }} / {{ recipe.base }}</p>
                            </div>
                        </div>
                        <a class="recipe-title" href="{% url 'recipe_detail' recipe.slug %}" class="recipe-linkup">
                            <h3 class="recipe-title select"> {{ recipe.title }}</h3></a>

                        <hr>
                        <div>
                            <p class="card-footer"> added by {{ recipe.author }} on {{ recipe.created_on }}</p>
                            <i class="fas fa-glass-cheers"> {{ recipe.number_of_cheers }} </i>

                            {% with comments.count as total_comments %}
                            <i class="fas fa-comment icon"></i>
                            <p>{{ total_comments }}</p>
                            {% endwith %}
                        </div>
                    </div>

                </div>

            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% empty %}
            <h3 class="empty text-center">Sorry this type of cocktail hasn't been added yet!</h3>
            <h3 class="empty2 text-center">Why not...</h3>
            {% endfor %}
        </div>
        
    </div>

</div>
<div class="row col-lg-2 col-md-3 mx-auto">
    <!-- <div class="col text-center"> -->
        <a class="btn btn-lg btn-secondary" href="{% url 'recipecreate' %}">Add A Cocktail</a>
    
</div>

{% endblock %}